* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;

  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
  }
  form {
    width: 400px;
    padding: 20px 20px; 
    border-radius: 15px;
    /* padding-left: 40px; */
    /* margin-left: 30px; */
    box-shadow: 0px 0px 10px 5px rgb(151, 152, 137);
  }
  h1 {
    text-align: center;
    margin-top: 5px;
    color: black;
  }
  label {
    display: block;
    margin-top: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  button,
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid green;
  }
  button {
    border: none;
    margin-top: 15px;
  }
  
  .slot {
    display: none;
  }
  .time {
    display: none;
  }
  